#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

body {
  background-image: url('https://cdn.wallpapersafari.com/73/16/qLTo9w.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}