:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(245, 241, 241, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-light: #F8F9F4;
  --sub-light: #EFF8E2;
  --main-color: #ADA8B6;
  --main-decor: #23022E;
  --sub-decor: #664e81;

}

a {
  font-weight: 800;
  color: #dd8109;
  text-decoration: inherit;
}
a:hover {
  color: #f72905;
}

body{
  margin:0;
}

header {
  display: flex;
  margin: 0;
  background: linear-gradient(90deg, rgba(173,168,182,1) 0%, var(--main-color) 41%, rgba(35,2,46,1) 85%);
  border-bottom: 5px solid var(--main-decor);
  color: black;
 height: 135px;
 width: 100%;
}

app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100% !important;
} 

#title {
  align-self: center;
  display: flex;
  margin: 0;
  font-size: 3.2em;
}

#nav {
  display:flex;
  align-self: flex-end;
  gap: 10px;
  margin-left: auto;
  flex-direction: column;
}

#dashboard {
  align-self: flex-start;
  margin-left: auto;
  margin-right: 3px;
  height: 30%;
}

#login {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 3px;
  height: 30%;
  width: 100%;
}

section {
  background-color: var(--main-light);
  margin: 0;
  display: flex;
  justify-content: space-around;
  min-width: 320px;
  min-height: 100vh;
}

#mainSection{
  width:100%;
}

.box{
  display: flex;
  opacity: revert-layer;
  background-color: var(--sub-decor);
  margin-top: 20px;
  height:50%;
  width:50%;
  justify-content: center;
  border: 5px solid var(--main-decor);
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main-light);
  color: var(--sub-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #f02207;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #473221;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff2609;
  }
  button {
    background-color: #141414;
  }
} */
